*.pyc
*.bak
*.db
local_settings.py
mingus/media/CACHE
pip-log.txt
mingus/media/uploads/
mingus/media/photos/
django_mingus.egg-info
mingus/media/CACHE/

# Personal Ignores
mingus/media/mingus/img/logo.png
mingus/media/mingus/fancybox/
mingus/media/mingus/img/app_store_badge.png
mingus/media/mingus/img/epicure/
mingus/media/mingus/img/posts/
mingus/media/mingus/img/twitter_logo.png
mingus/media/mingus/js/jquery.easing.1.3.js
